.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.chart,
.graph,
.table {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart {
  height: 400px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
